/* Typical low-contrast styles, John Gabriele, 2012, */

body {
    background-color: #eee;
    color: #335;
    width: 80%;
    font-family: 'Oxygen', sans-serif;
}

#main-box {
    background-color: #fff;
    border: 2px solid #ccc;
    margin: 20px;
    padding: 20px;
    line-height: 1.4;
}

.you-provide {
    color:  #118811;
    font-weight: bold;
}

a:link {
    color: #3A4089;
}

a:visited {
    color: #875098;
}

table {
    background-color: #eee;
    padding-left: 2px;
    border: 2px solid #ccc;
    border-collapse: collapse;
}

th {
    background-color: #d4d4d4;
    padding-right: 4px;
}

tr, td, th {
    border: 2px solid #ccc;
    padding-left: 4px;
    padding-left: 4px;
}

dt {
    font-weight: bold;
}

pre {
    border: 1px solid #ddd;
    background-color: #eee;
    padding-left: 6px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

blockquote {
    background-color: #cdf;
    border: 1px solid #bcd;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
}

h1,h2,h3,h4,h5,h6 {
    color: #444;
}

h3, h5 {
    font-style: italic;
}
